<div class="page-container">
  <h1>Welcome to GlueStat</h1>
  <p>Create personal metrics and place them in locations that impact your behavior.</p>

  <%= link_to "Get Started", controller: 'tasks', action: 'index' %>
</div>
